<div class="row">
  <div class="col-lg-12">
    <ngx-hero-buttons-dashboard></ngx-hero-buttons-dashboard>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-shape-buttons-dashboard></ngx-shape-buttons-dashboard>
    <ngx-action-groups-dashboard></ngx-action-groups-dashboard>
    <ngx-labeled-actions-group-dashboard></ngx-labeled-actions-group-dashboard>

    <div class="row">
      <div class="col-lg-5">
        <ngx-dropdown-buttons-dashboard></ngx-dropdown-buttons-dashboard>
        <ngx-icon-buttons-dashboard></ngx-icon-buttons-dashboard>
      </div>
      <div class="col-lg-7">
        <ngx-button-groups-dashboard></ngx-button-groups-dashboard>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-size-buttons-dashboard></ngx-size-buttons-dashboard>
    <ngx-default-buttons-dashboard></ngx-default-buttons-dashboard>
    <ngx-block-level-buttons-dashboard></ngx-block-level-buttons-dashboard>
  </div>
</div>
